@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Outfit:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #D5E1EF;
}

main{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.container{
    background-color: white;
    height: 400px;
    width: 90%;
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   max-width: 250px;
   min-width: 250px;
}

img{
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.qr{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.txt1{
    margin-top: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt2{
    margin-top: 20px; 
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    width: 85%;
}